/* Added by Chang */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html{
    font-family: 'Source Code Pro', monospace;
    width: auto;
    height: auto;
}
body{
    background-image: url("https://wallpaperaccess.com/full/1080447.jpg");
    background-size: cover;
    color : DarkSlateGrey;
}
#bg{
    background-color: rgba(255, 248, 220,0.3)
}
h1{
    font-size:1.5em;
    color: Chocolate;
}
h2{
    font-size:1.3em;
    color: Chocolate;
}
h3{
    font-size:1.2em;
    color: Chocolate;
}
body{
    font-size:1.1em;
}
.mylink a{
    margin-top: 5px;
    margin-right: 50px;
}
.mylink a:hover{
    color:orange;
}
#member{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
}
.home h1{
    margin: 0px;
}
