{% load static %}
<div class="overlay-navigation" style="z-index: 99;">
  <nav role="navigation">
    <ul>
      <li class= "navbar navbar1"><a href="{% url 'index' %}" data-content="&#127968 Homepage"><h2>Home</h2></a></li>
      <li class= "navbar navbar2"><a href="{% url 'pet' %}" data-content="&#128227 Our Pet Community"><h2>PET</h2></a></li>
      <li class= "navbar navbar3"><a href="{% url 'profile' %}" data-content="&#129321 Your Profile Page"><h2>PROFILE</h2></a></li>
      <li class= "navbar navbar4"><a href="{% url 'about' %}" data-content="&#129300 Who Are We ?"><h2>ABOUT US</h2></a></li>
      <li class= "navbar navbar5"><a href="{% url 'report' %}" data-content="&#128591 Got Any Problem ?"><h2>REPORT</h2></a></li>
    </ul>
  </nav>
</div>
<div>
  <a class="logout" href={% url 'logout'%} title="Log out ?"><i class=" fas fa-sign-out-alt"></i></a>
</div>
<section class="home">
  <div class="open-overlay">
    <span class="bar-top" ></span>
    <span class="bar-middle"></span>
    <span class="bar-bottom"></span>
  </div>
</section>
<script src="{% static 'js/nav-bar.js' %}"></script>

