{% extends "user_layout/layout_Main.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/css/profile.css'%}">
<div class="w3-card-4">
    <header id="top-banner" class="w3-container w3-red w3-center pet-detail-banner">
        <h1>{% include 'svg/pet-id.svg' %} Pet Detail</h1>
        <p>{{pet.pet_name}}</p>
    </header>
</div>
<!-- chang is here -->
<section class="pet-detail-area">
    <div class="mycard pet-item w3-card-4">
        <p class="petname">{{ pet.pet_name }}</p>
        <img id="pet-pic" class="itemall" src="{{ pet_img }}" width="50%" >
        <!-- <p>{{ pet.pet_type }}</p> -->
        <h2 class="item1">BirthDay</h2>
        <h2 class="item3">Species</h2>
        <p class="item1">{{ pet.pet_born_day }} - {{ pet.pet_born_month }} - {{ pet.pet_born_year }}</p>
        <select class="item3">
            {% for specie in species %}
            <option>{{ specie }}</option>
            {% endfor %}
        </select>
        <h2 class="item1">Hair Color</h2>
        <h2 class="item3">Eye Color</h2>
        <p class="item1">{{ pet.pet_hair_color }}</p>
        <p class="item3">{{ pet.pet_eye_color }}</p>
        <form class="item3" action="{% url 'petedit' %}" method="POST" class="pet-form">
            {% csrf_token %}
            <button name="petedit" type="submit" value="{{ pet.pet_id }}" title="Click here to edit {{ pet.pet_name }}"><i class="fas fa-edit"></i></button>
        </form>
    </div>
    <!--
    <img id="pet-pic" src="{{ pet_img }}" >
    <div>
        <p>{{ pet.pet_type }}</p>
        <h2>Name</h2>
        <p>{{ pet.pet_name }}</p>
        <h2>Species</h2>
        {% for specie in species %}
        <p>{{ specie }}</p>
        {% endfor %}
        <h2>Hair Color</h2>
        <p>{{ pet.pet_hair_color }}</p>
        <h2>Eye Color</h2>
        <p>{{ pet.pet_eye_color }}</p>
        <h2>BirthDay</h2>
        <p>{{ pet.pet_born_day }} - {{ pet.pet_born_month }} - {{ pet.pet_born_year }}</p>
        {% if private %}
            <form action="{% url 'petedit' %}" method="POST" class="pet-form">
                {% csrf_token %}
                <div id="two"><button name="petedit" type="submit" value="{{ pet.pet_id }}">Edit</button></div>
            </form>
        {% endif %}
    </div> -->
    <div id="profile-wrapper">
        <img id="pet-detail-owner" src="{{ owner_img }}" >
        <div class="mycard pet-detail-owner-card">
            <div id="one"><h2>FirstName</h2></div>
            <div id="two"><h2>Surname</h2></div>
            <div id="one"><p>{{ owner.owner_name }}<p/></div>
            <div id="two"><p>{{ owner.owner_surname }}<p/></div>
            <div id="mid"><h2>Contact</h2></div>
            <div id="one"><h2><i class="fas fa-at"></i><h2/></div>
            <div id="two"><h2><i class="fas fa-mobile-alt"></i><h2/></div>
            <div id="one"><p>{{ owner.owner_email }}<p/></div>
            <div id="two"><p>{{ owner.owner_phone }}<p/></div>
        </div>
    </div>
</section>
{% endblock %}