{% extends "user_layout/layout_Main.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/css/profile.css'%}">
<div class="w3-card-4">
    <header id="top-banner" class="w3-container w3-red w3-center">
        <h1 style="color:white;font-family: 'Acme', sans-serif;"><i class="fas fa-user-circle"></i> Profile</h1>
    </header>
</div>
<div id="profile-wrapper">

    <div class="mycard profile-card">
        <div id="one"><h2><i class="fas fa-at" aria-hidden="true"></i></h2></div>
        <img id="profile-pic" src="{{ profile }}">
        <div id="two"><h2><i class="fas fa-mobile-alt" aria-hidden="true"></i></h2></div>
        <div id="one"><p style="font-size:1em;">{{ user.owner_email }}<p/></div>
        <div id="two"><p>{{ user.owner_phone }}<p/></div>
        <div id="all">{{ user.owner_name }} {{ user.owner_surname }}</div>
        <form action="{% url 'addpet' %}" method="POST" class="pet-form">
                {% csrf_token %}
            <div id="one"><h2>Add Dog</h2></div>
            <div id="two"><h2>Add Cat</h2></div>
            <input type="hidden" id="user" name="user" value="{{ user.owner_id }}">
            <div id="one"><button name="type_pet" type="submit" value="dog" title="Add dog for {{ user.owner_name }}">{% include 'svg/adddog.svg' %}</button></div>
            <div id="two"><button name="type_pet" type="submit" value="cat" title="Add cat for {{ user.owner_name }}">{% include 'svg/addcat.svg' %}</button></div>
        </form>
    </div>
</div>
<section id="pet-collection">
    {% for pet, species, img in pets %}
    <div class="mycard pet-item w3-card-4">
        <p class="petname">{{ pet.pet_name }}</p>
        <img id="pet-pic" class="itemall" src="{{ img }}" width="50%" >
        <h2 class="item1">BirthDay</h2>
        <h2 class="item3">Species</h2>
        <p class="item1">{{ pet.pet_born_day }} - {{ pet.pet_born_month }} - {{ pet.pet_born_year }}</p>
        <p class="item3">
            {% for specie in species %}
            {{ specie }},
            {% endfor %}
        </p>
        <form class="item3" action="{% url 'petedit' %}" method="POST" class="pet-form">
            {% csrf_token %}
            <button name="petedit" type="submit" value="{{ pet.pet_id }}" title="Click here to edit {{ pet.pet_name }}."><i class="fas fa-edit"></i></button>
        </form>
        <form  class="item3" action="{% url 'petdetail' %}" method="POST" class="pet-form">
            {% csrf_token %}
            <button id="watch" name="petdetail" type="submit" value="{{ pet.pet_id }}" title="Click here to view more detail."><i class="fas fa-eye"></i></button>
        </form>

        <form  class="item3" action="{% url 'delpet' %}" method="POST" class="pet-form">
            {% csrf_token %}
            <button id="watch" name="petdelete" type="submit" value="{{ pet.pet_id }}" title="Are you sure you want to delete {{ pet.pet_name }} ?"><i class="fas fa-trash"></i></button>
        </form>
    </div>
    {% endfor %}
</section>
{% endblock %}