{% extends "user_layout/layout_Main.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/css/profile.css'%}">
<div class="w3-card-4">
    <header id="top-banner" class="w3-container w3-red w3-center">
        <h1 style="color:white;font-family: 'Acme', sans-serif;"><i class="fas fa-user-circle"></i>Profile</h1>
    </header>
</div>
<div id="profile-wrapper">
    <!-- {{ user.owner_profile }} -->
    <img id="profile-pic" src="{{ profile }}" >
    <div class="mycard">
        <div id="one"><h2>FirstName</h2></div>
        <div id="two"><h2>Surname</h2></div>
        <div id="one"><p>{{ user.owner_name }}<p/></div>
        <div id="two"><p>{{ user.owner_surname }}<p/></div>
        <div id="mid"><h2>Contact</h2></div>
        <div id="one"><h2><i class="fas fa-at"></i><h2/></div>
        <div id="two"><h2><i class="fas fa-mobile-alt"></i><h2/></div>
        <div id="one"><p>{{ user.owner_email }}<p/></div>
        <div id="two"><p>{{ user.owner_phone }}<p/></div>
       <!-- <div id="mid">
            {% for type_s in type_select %}
                {{ type_s }}
                <a href="{% url 'addpet' %}" title="Add Your {{ type_s }} Here">{% include 'svg/addpet.svg' %}</a>
            {% endfor %}
        </div>-->
        <form action="{% url 'addpet' %}" method="POST" class="pet-form">
                {% csrf_token %}
            <div id="one"><h2>Add Dog</h2></div>
            <div id="two"><h2>Add Cat</h2></div>
            <div id="one"><button name="type_pet" type="submit" value="dog">{% include 'svg/adddog.svg' %}</button></div>
            <div id="two"><button name="type_pet" type="submit" value="cat">{% include 'svg/addcat.svg' %}</button></div>
            <!-- <button name="type_pet" type="submit" value="dog">{% include 'svg/adddog.svg' %}</button>
            <button name="type_pet" type="submit" value="cat">{% include 'svg/addcat.svg' %}</button> -->
        </form>
        <!--<div id="mid"><a href={% url 'addpet' %} title="Add Your Dog Here">{% include 'svg/addpet.svg' %}</a></div>-->
        <!--<div id="mid"><a href={% url 'addpet' %} title="Add Your Cat Here">{% include 'svg/addpet.svg' %}</a></div>-->
    </div>
</div>
{% endblock %}